/* Import css files */
@import "./header.css";
@import "./footer.css";


/* Global styles  */
body {
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    height: 0;
}


*, *:before, *:after {
    box-sizing: inherit;
}


/* Main content */
.container {
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}



h1{
    font-size: 1.90rem;
}



.main-section-intro p{
    font-size: 1.1rem;
    margin-bottom: 5rem;
    color: rgba(0, 0, 0, 0.67);
}


.working-company{
    color: #FF4D00;
}


.interest{
    color: #012C99;
}


.proj-exp-section p{
    color: rgba(0, 0, 0, 0.67);
}


.proj-exp-section a{
    color: #A35858;
    font-weight: 500;
}

blockquote {
    margin: 0;
}

blockquote p {
    padding: 15px;
    background: #eee;
    border-radius: 5px;
}

.Writer-name{
    font-size: 15px;
    color: rgba(0, 0, 0, 0.30);
}

@media screen and (min-width:320px) and (max-width:600px) {
    .main {
        margin: 11.25rem 1rem 0 1rem;
        line-height: 1.5;
    }
}


@media (min-width:600px) and (max-width:1024px) {
    .main {
        margin: 11.25rem 1rem 0 1rem;
        line-height: 1.5;
    }
}