/* Import css files */
@import "./header.css";
@import "./Post.css";
@import "./footer.css";


/* Global styles  */
body {
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}


html {
   margin:0;
   padding:0;
}


*, *:before, *:after {
    box-sizing: inherit;
    text-decoration: none;
}


/* Main content */
main {
    margin-bottom: 20rem;
}


.container {
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}


.Article-title {
    font-weight: 600;
    font-size: 2.5rem;
}


#card4-img-background{
    background-image: url(https://images.unsplash.com/photo-1519389950473-47ba0277781c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2850&q=80);
}


#card5-img-background{
    background-image: url("https://cdn.shortpixel.ai/client/q_glossy,ret_img/https://nomuhub.com/wp-content/uploads/2020/01/VAvJdkEg-e1579362422823.jpg");
}


@media screen and (min-width:320px) and (max-width:600px) {
    .Article-title {
        margin: 1.3rem 1.2rem 2rem 1.2rem;
        line-height: 1.5;
    }
    
    
    .blog-posts {
        margin: 1.5rem 1.2rem 0 1.2rem;
    }
    
    
    .card5 {
        margin-bottom: 4rem;
    }
    
    
    main{
       margin-bottom: 96rem; 
    }
}



@media screen and (min-width:320px) and (max-width:482px){
    main {
        margin-bottom: 68rem;
    }
}



@media (min-width:600px) and (max-width:1024px) {
    .Article-title {
        margin: 1.3rem 1.2rem 2rem 1.2rem;
    }
    
    
    .blog-posts {
        margin: 1.5rem 1.2rem 0 1.2rem;
    }
    
    
    .card5 {
        margin-bottom: 4rem;
    }
    
    main {
        margin-bottom: 34rem;
    }

}


@media screen and (min-width:1024px) and (max-width:1500px){
    .Article-title {
        margin: 1.3rem 0.9rem 2rem 0.9rem;
        line-height: 1.5;
    }
    .blog-posts {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 22rem);
        grid-column-gap: 1.2rem;
        grid-row-gap: 2rem;
        margin: 1.5rem 0.7rem 0 0.7rem;
    }
}