/* footer */
.footer {
    height: 100px;
    margin: auto;
    text-decoration: none;
}


footer a:hover {
    color: black;
}


.footer-img-icons {
    height: 30px;
    width: 30px;
}


.footer-links-title, .footer-links-icons {
    text-align: center;
    font-size: 1.1rem;
    margin-right: 1.5rem;
    border-collapse: separate;
    border-spacing: 50px;
    text-decoration: none;
}


.line-footer {
    margin-bottom: 1.5rem;
    color: rgba(0, 0, 0, 0.15);
    max-width: 800px;
}
figcaption{
    display: block;
}


@media screen and (min-width:320px) and (max-width:600px) {
    .footer {
        display: block;
        text-align: center;
    }
    
    
    .footer div {
        margin: 1.3rem;
    }  
}


@media screen and (min-width:600px) and (max-width:1024px) {
    .footer {
        display: flex;
        justify-content: space-between;
        margin: auto;
    }
    .footer div {
        margin: 1.3rem;
    }
}


/* this will apply to viewports with a min width of 1024px and above */
@media screen and (min-width:1024px) {
    .footer {
        height: 100px;
        display: flex;
        justify-content: space-between;
        margin: auto;
        
    }
    .footer div {
        margin: 1.3rem;
    }
}