/* footer */
.footer {
    height: 100px;
    margin: auto;
    border-top: 1.4px solid rgba(0, 0, 0, 0.15);
}


footer a:hover {
    color: black;
}


.footer-img-icons {
    height: 30px;
    width: 30px;
}


.footer-links-title, .footer-links-icons {
    text-align: center;
    font-size: 1.1rem;
    margin-right: 1.5rem;
}


@media screen and (min-width:320px) and (max-width:600px) {
    .footer {
        display: block;
        text-align: center;
    }
    
    
    .footer div {
        margin: 1.3rem;
    }  
}


@media (min-width:600px) and (max-width:1024px) {
    .footer div {
        margin: 1.3rem;
    }
    
    
    .footer {
        display: flex;
        justify-content: space-between;
        margin: auto;
    }
}


@media screen and (min-width:1024px) and (max-width:1500px){
    .footer {
        height: 100px;
        display: flex;
        justify-content: space-between;
        margin: auto;
    }
    
    
    .footer div {
        margin: 1.3rem;
    }
}