/* Import css files */
@import "/Main-styles/header.css";
@import "/Main-styles/footer.css";


/* Global styles  */
body {
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    height: 100%;
}


html {
   min-height: 100%;
   margin:0;
   padding:0;
}


*, *:before, *:after {
    box-sizing: inherit;
    text-decoration: none;
}


/* Main content */
main {
    margin-bottom: 35rem;
}


.container {
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}


.Article-title-section {
    display: flex;
    flex-direction: column;
}


.Article-title-section h1 {
    font-size: 2.4rem;
    font-weight: 900; 
}


.article-header {
    margin-bottom: 3rem;  
}


.author-section {
    color: rgb(148, 145, 145);
    font-size: 0.79rem;
    font-weight: 200;
    display: inline-flex;
    align-items: center;
    width: 100%;
}


.author-info {
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
}


.author-section h4,h5 {
    font-weight: 200;
 
}


.author-avatar {
    border-radius: 50%;
    width: 55px;
    max-width: 55px;
    height: auto;
    margin-right: 0.75rem;
    justify-content: flex-start; 
}


.author-name {
    font-size: 1rem;
    color: rgba(0,0,0,.6);
    
}


.article-date {
    color: rgba(0,0,0,.6);
    font-size: 0.99rem;
    margin-bottom: 1.8rem;
    margin-top: -26px;
    font-weight: 200;
}


.twitter-share {
    width: 30px;
}


.social-media-share {
    font-size: 0.9rem;
    color: rgba(0, 0, 0, 0.81);
    font-weight: 200;
    margin-top: 0.2rem;
    margin-bottom: 0.8rem;
    justify-content: center;
}

.social-media-share a {
    color: rgba(0, 0, 0, 0.81);
}

.social-media-share a:hover {
    color: rgb(33, 38, 165);
    font-weight: 500;
}


.Share-title {
    margin-right: 0.3rem;
    font-weight: 500;
    display: block;
}


.twitter-link::after {
    content: "/";
    color: #b2b2b2;
    margin: 0 2px;
}


@media screen and (min-width:320px) and (max-width:600px) {
    .main {
        margin: 11.25rem 1rem 0 1rem;
        line-height: 1.5;
        margin-bottom: 20rem;
        font-size: 1rem;
    }
}


@media (min-width:600px) and (max-width:1024px) {
    .main {
        margin: 11.25rem 1rem 53rem 1rem;
    }
}